

body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-color: rgb(194, 194, 219);
  // #0f1641 crosby background
  width: 100vw;
  overflow-x: hidden;
  // #0f1641 crosby background
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: fixed;
  width: 95vw;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  &__logo {
    user-select: none;
    height: 4rem;
    width: auto;
    margin-left: 1rem;
    align-self: flex;
  }
  &__logo:hover {
    cursor: pointer;
  }
  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 3vw; 
    margin-right: 5%;

    &__link {
      font-size: 1.25rem;
      text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
      margin: 1.5rem 0 1.5rem 0;
      // margin-bottom: 1.5rem;
      margin: 1.5rem 0 1.5rem 0;
      // margin-bottom: 1.5rem;
      color: black;
      text-wrap: nowrap;
      text-decoration: none;
      text-decoration: none;
    }
  }
  .mobile {
    display: none;
  }
}
.home-main {
  // display: flex;
  background-image: url('/images/HomeScreenMain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  // z-index: 1;
  

  // z-index: 1;
  
  .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    h1 {
      color: orange;
      font-size: 15rem;
      font-weight: bold;
      margin: 0;
    }
    h3 {
      color: #FFFFFF;
      color: #FFFFFF;
      font-size: 5rem;
      margin: 0;
    }
    h5 {
      color: #FFFFFF;
      color: #FFFFFF;
      font-size: 2rem;
      margin: 0;
    }
    a {
      font-size: 3rem;
      border: 3em;
      border-color: white;
      // border-radius: 5rem;
    }
  }
  .home-services {
    
  }
}
.about {
  
  margin: 10rem 8rem 5rem 8rem;
  // padding-top: 5rem;
  .page-header {
    margin-top: auto;
    font-size: 4rem;
  }
  .about-bio {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0 10rem 0;
    padding: 0 3rem 0 3rem;
    .bio-header {
      display: block;
      width: 50%;
      font-size: 2.5rem;
    }
    .bio-text {
      display: block;
      width: 40%;
      font-size: 1.5rem;
    }

  }
  .about-values {
    .values-bio {
      font-size: 2rem;
    }
    .values-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .value-list {
        display: block;
        list-style: none;
        text-align: left;
        width: 35%;
        .value-name {
          font-size: 1.5rem; 
          cursor: pointer;
          user-select: none;
        }
      }
      .selected-value-body {
        display: block;
        padding: 5rem;
        width: 60%;
        font-size: 1.25rem;
      }
    }     
  }
}
.services {
  margin: 10rem 5rem 5rem 5rem;
  // padding-top: 5rem;
  h1 {
    margin-top: auto;
  }
  .restoration-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      display: block;
      list-style: none;
      text-align: left;
      width: 35%;
      &__item {
        &__title {
          font-size: 1.5rem; 
          cursor: pointer;
          user-select: none;
        }
        &__body {
          display: block;
          padding: 5rem;
          width: 60%;
          font-size: 1.25rem;
        }
      }
    }
    &__mobile-list {
      display: none;
    }

  }
}

.projects-page {
  margin: 10rem 5rem 5rem 5rem;
  &__title {
    text-align: left;
    font-size: 4rem;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
    row-gap: 3rem;
    &__tile {
      padding: 1.5rem 3rem;
      border: .25rem solid black;
      border-radius: 1rem;
      width: fit-content;
      text-align: center;
      &__thumbnail {
        height: 250px;
        width: 250px;
      }
    }
  }
}
.contact {
  margin: 10rem 5rem 5rem 5rem;

}


/* CSS */
.redirect-button {
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-color: #3b2323;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.redirect-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (max-width: 600px) {
  .navbar{
    height: 4rem;
    z-index: 1;
    &__logo {
      height: 2.5rem;
      width: auto;
    }
    &__menu{
      display: none;
    }
    .mobile {
      display: block;
      &__menu {
        display: flex;
        flex-direction: column;
        z-index: 2;
        justify-content: center;
        align-items: center;
        list-style: none;
        position: absolute;
      }
      &__toggle-button {
        background-color: transparent;
        font-size: 2rem;
        border: none;
        // position: fixed ;
      }
    }
  }
  .services {

    .restoration-steps {
      &__list {
        display: none;
        &__item {
          &__body {
            display: none;
          }
        }
      }
        &__mobile-list {
          display: block;
          &__item {
            &__title {
              cursor: pointer;
              user-select: none;
            }
            &__body {
              display: block;
            }
          }
        }
        
    }
}

}

@media (min-width: 600px) and (max-width: 860px) {
  .navbar{
    &__logo {
      height: 3rem;
      width: auto;
    }
    &__menu {

      &__link {
        font-size: 1rem;
        
      }
    }
  }
}